

.list-item{
    color: rgb(44, 44, 44);
}

.list-item:hover{
    color: red;
    font-weight: bold;
    transition: 0.8s;
}

.devName{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.devName span{
    color: red;
}
